body{
	background-color:#2F4F4F;
}

 .navbar-header{
		background-color:#8B0000;

}


nav{
	backgroun5d-color:#708090;

}

nav a img{
	width:145px;
	height:30px;
	margin:0px 0px 0px 10px;
}

img{
	width:140px;
	height:160px;
	margin:0px 0px 0px 0px;
	border-radius:10px;

}


ul li{
	color:black;
	font-size:20px;
	font-family:ariel
	
}


.jumbotron{
	background-color:#708090;
}

.jumbotron h1{
	font-size:80px;
	font-family:fantasy;
	color:#8B0000;
	margin-right:20px;

}

h1{
	font-size:30px;
	font-style:italic;
	font-family:serif;
}

h1 p{
	font-size:30px;
}

p{
	color:black;
	font-size:15px;
	font-family:cursive;
	font-style:fantasy;

}

table{
	background-color:#808080;
	border-radius:3px;
	margin:0px 0px 0px 90px;
	border:2px solid black;

}

table th{
	color:black;
	text-align:center;
	font-size:30px;
}

table td{
	color:#8B0000; 
	text-align:center;
	border:2px solid black;
	font-size:20px;
}

.row{
	float:left;
}

.footer{
	color:#8B0000;
	font-size:20px;
}

.container2{
	margin-top:40px;
}

